:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #FE8A02;
  --mainDark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --h1: 72px;
  --h2: 60px;
  --h3: 34px;
  --font-size: 16px;
  --line-height: 1.6em;
  --color-text: #2A2626;
  --line-heigtht-heading: 1.2em;
  --width: 1110px;
}

@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 300;
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}
